---
layout: default
---
<section id="post">
	{% if page.image %}
	<div class="image main" data-position="center">
		<img src="{{ page.image | relative_url }}" alt="" />
	</div>
	{% endif %}
	<div class="container">
		<header class="major">
			<h2>{{ page.title }}</h2>
			<p>{{ page.date | date: "%d %B %Y" }}</p>
		</header>

		<div class="post-content">
			{{ content }}
		</div>

		<ul class="actions">
			<li><a href="{{ '/posts/' | relative_url }}" class="button">&larr; Back to Posts</a></li>
		</ul>
	</div>
</section>
